.top-content.index_top.clearfix
  .index_logo
    タイケツ
  .index_columns
    %p
      いつも宿敵、ライバルとして憎み合い、争い合う二人。
      %br たまには言いたいことを遠慮なく吐き出してみませんか？
    .button
      = link_to destroy_user_session_path, method: :delete do
        .sign_out
          Sign out
  .icon_box.clearfix
    .icon
      %a.fa.fa-facebook{:href => "https://www.facebook.com/sharer/sharer.php?u=http://taiketsu.co"}
    .icon
      %a.fa.fa-twitter{:href => "https://twitter.com/taiketsu_co"}
    .icon
      %a.fa.fa-hatena{:href => "http://b.hatena.ne.jp/entry/http://taiketsu.co"}
        B!
.main-content
  .popularity_theme
    人気のお題
  .content_box.clearfix
    %a.content{:href => "http://localhost:3000/themes/1"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
    %a.content{:href => "http://localhost:3000/themes/1"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
    %a.content{:href => "http://localhost:3000/themes/1"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
  .content_box.clearfix
    %a.content{:href => "http://localhost:3000/themes/1"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
    %a.content{:href => "http://localhost:3000/themes/1"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
    %a.content{:href => "http://localhost:3000/themes/1"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
  .content_box.clearfix
    %a.content{:href => "http://taiketsu.co/151/"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
    %a.content{:href => "http://taiketsu.co/151/"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
    %a.content{:href => "http://taiketsu.co/151/"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
  .content_box.clearfix
    %a.content{:href => "http://taiketsu.co/151/"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
    %a.content{:href => "http://taiketsu.co/151/"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
    %a.content{:href => "http://taiketsu.co/151/"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50

  .advertising
    %img.img_ad{:alt => "", :border => "0", :src => "https://tpc.googlesyndication.com/simgad/14352081502697085382", :width => "728"}/
  .pagination-centered
    .pagination.clearfix
      %li
        %span 1
      %li
        %a 2
      %li
        %a 3
      %li
        %a ...
      %li
        %a 13
      %li
        %a >>

  .recruiting_opinions
    ご意見募集中のお題
  .content_box.clearfix
    %a.content{:href => "http://taiketsu.co/151/"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
    %a.content{:href => "http://taiketsu.co/151/"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
    %a.content{:href => "http://taiketsu.co/151/"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
  .content_box.clearfix
    %a.content{:href => "http://taiketsu.co/151/"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
    %a.content{:href => "http://taiketsu.co/151/"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50
    %a.content{:href => "http://taiketsu.co/151/"}
      .panel.clearfix
        .theme
          ore
        .vs
          vs
        .theme
          omae
        .bar
          .red_bar
            %i.count 50
          .blue_bar
            %i.count 50

.bottom-content.clearfix
  .bottom-content_title
    お題を投稿する
  .bottom-content_explanation
    ライバル関係にある２つのことがらを投稿してみてください。
  = form_for @new_theme do |f|
    .postform
      .columns.left
        = f.text_field :red, class: 'columns'
      .columns.right
        = f.text_field :blue, class: 'columns'
      .vs
        %p vs
    = f.submit "投稿する", class: 'button toukou'
  .attention
    投稿できるお題は各50文字以内です。
.footer.clearfix
  .footer_columns
    %a トップページ
    %a タイケツの楽しみ方
    %a 利用規約・免責事項
    %a お問い合わせ
  .footer_copy
    %a @TAIKETSU
